.info-box{
    height:100%;
    width:100%;
    overflow:auto;
}

#pokemon-image-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pokemon-image-box > img{
    height: 185%;
    width: 60%;
}

#pokemon-info-box{
    padding: 5% 5% 0% 5%;
    display: flex;
    flex-direction: column;
    height:100%;
    width:90%;
}

#pokemon-info-box > ul {
    margin:0px;
    padding:0% 0% 0% 17%;
}

#pokemon-info-box > ul > li, p{
    margin:0px;
    color:#253038;
    font-size:small;
    font-family:'Press Start 2P', arial, sans-serif;
    line-height:1.2rem;
}