:root {
  --main-body: #DD2E07;
  --main-body-shadow: #c62906;
  --green: #709924;
  --screen: #BADEF9;
  --dark-grey:#263139;
  --screen-border: #95A3A9;
  --medium-grey:#4E656F;
  --off-white:#D5D7D9;
}

body{
  background-color:#f8f8ff;
}

h1{
  margin: 4% 0%;
  color:#333;
  font-family:'Press Start 2P', sans-serif;
  text-align: center;
}

h2{
  margin: 1rem 0rem 0rem 0rem;
  font-size: medium;
  font-family:'Press Start 2P', sans-serif;
}

p{
  margin: 5%;
}


